<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-card *ngFor="let lista of lista_filmes">
    
    <ion-card-header>
        <ion-img [src]="'https://image.tmdb.org/t/p/w200/'+lista.poster_path"></ion-img>
      <ion-card-subtitle>Data de Estréia: {{lista.release_date}}</ion-card-subtitle>
      <ion-card-title>{{lista.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{lista.overview}}
    </ion-card-content>

  </ion-card>
  
</ion-content>
